<div class="container">
  <h2>Meus Compromissos</h2>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Descrição</th>
        <th>Duração</th>
        <th>Local</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let agenda of agendas">
        <td>{{ agenda.id }}</td>
        <td>{{ agenda.description}}</td>
        <td>{{ agenda.duration }}</td>
        <td>{{ agenda.local }}</td>
        <td>
          <button class="btn btn-primary me-2">Editar</button>
          <button class="btn btn-danger" (click)="delete(agenda)">Excluir</button>
        </td>
      </tr>
      <tr>
        <td colspan="7">
          <button class="btn btn-primary mt-2">Adicionar Compromisso</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
